@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-white: #ffffff;
  --main-black: #000000;
  --main-blue: #2b78e4;
  --text-secondary: #b2b8be;
  --background-secondary: #323232;
  --main-error: #ff7171;
  --main-success: #14a38b;
  --main-warning: #f2ac57;
  --main-gray: #d8d8d8;
}

body {
  color: var(--main-white);
  background: var(--main-black);
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
}
